<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.buddies.PoolMeIn"
          android:versionCode="1"
          android:versionName="1.0">
    <application android:label="@string/app_name" android:icon="@drawable/ic_launcher">
        <activity android:name=".HomeScreenActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
                android:name=".GreetInNewActivity"
                android:label="@string/greet_me_here" >
        </activity>
        <activity
                android:name=".NeedACarActivity"
                android:label="@string/greet_me_here" >
        </activity>
        <activity
                android:name=".HaveACarActivity"
                android:label="@string/greet_me_here" >
        </activity>

    </application>
</manifest>